<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Test</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Spring Boot Project!</h1>
    </header>
    <section>
        <h2>Test Page</h2>
        <p>This is a simple index.html page to test in a Spring Boot project.</p>
        <button onclick="alert('Hello, Spring sssBoot!')">Click Meaaa!</button>
    </section>
    <footer>
        <p>&copy; 2025 My Spring Boot Project</p>
    </footer>
</body>
</html>